/.cache/
/output_results/
/scripts/tmp/
/scripts/eval_qwen_debug.sh
/scripts/eval_qwen_debug2.sh
/server/logs/
/tmp/
__pycache__/
*.pyc
*.egg-info/
**/.git_bak_nested_repo/

/data/*
!/data/.gitkeep

/models/*
!/models/.gitkeep
